.background {
    height: 100%;
    width: 100%;
    position: fixed;
    place-content: center;
    display: grid;
    top: 0;
    left: 0;
    background-color: rgba(208, 208, 208, .2);
}

.form {
    font-size: 2rem;
    background-color: white;
    width: 30vw;
    padding: 2em;
    border-radius: 1em;

    &__field {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        gap: 1em;
    }
}