.news {
  & header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  &_list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
    padding-left: 0;

    @media (max-width: 768px) {
      & {
        flex-direction: column;
      }
    }
  }
}
