.container {
  width: 50%;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 60%;
  }

  @media (max-width: 425px) {
    width: 100%;
  }

  & li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}