.list {
    margin: 4rem auto;
    background-color: white;
    border-radius: 4rem;
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    list-style: none;

    @media screen and (max-width: 425px) {
        padding: 1em;
    }
}