@use '@/styles/variables' as v;

.container {
    padding: 2rem 3rem;
    border-radius: 1rem;
    background-color: v.$gray-100;
}

.subject {
    &_list {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 1rem 4rem;
        list-style: none;
    }

    &_title {
        font-weight: 700;
        padding-bottom: .2em;
        font-size: 2.5rem;
    }

    &_links {
        display: flex;
        gap: 1em;
        padding-left: 0;
        padding-top: 1em;
        list-style-type: none;
    }

    &_link {
        color: blue;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
    }

    &_sub_links {
        padding-top: 0;
        flex-direction: column;
    }
}