.container {
    position: relative;
}

.button {
    background-color: white;
    border: 0;
    cursor: pointer;
    border-radius: .5em;
    font-size: 2rem;
    padding: .5em 1.5em;
    height: 100%;
    white-space: nowrap;
}