@use "@/styles/variables.scss" as v;

.button {
  display: block;
  white-space: nowrap;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
  position: relative;
  padding: 0.7em 1em;

  :where(&:active, &.active) {
    background-color: v.$orange-300;
  }

  @media (max-width: 1024px) {
    & {
      font-size: 1.8rem;
      padding-inline: 0.3em;
    }
  }
  @media (max-width: 728px) {
    &.active {
      background-color: transparent;
    }
  }
}

.text {
  margin-right: 0.6em;
  position: relative;

  &:hover::after,
  &.active::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    margin-inline: auto;
    bottom: -15px;
    background-color: v.$orange-500;
    height: 4px;
  }
}

.list {
  display: none;
}

.active {
  & .list {
    z-index: 10;
    position: absolute;
    display: flex;
    top: 5.1rem;
    left: 0;
    width: max-content;
    flex-direction: column;
    background-color: white;

    @media (max-width: 768px) {
      & {
        position: static;
        margin-top: 2rem;
      }
    }
  }
  & .chevron {
    transform: rotateZ(180deg);
  }
}
