@use "@/styles/variables.scss" as v;

.hat {
  background-color: v.$blue-700;

  margin: 0 auto;
  color: white;
  font-size: clamp(1rem, 2vw, 2rem);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
