@use "@/styles/variables.scss" as v;

.hat {
  background-color: v.$blue-700;

  div {
    margin-inline: auto;
    color: white;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
  }
}
