@use "./variables.scss" as v;

.section {
  position: relative;
  padding: 10rem 0 4rem 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  .history {
    margin-top: 8rem;
  }
}
@media (max-width: 425px) {
  .history {
    margin-top: 3rem;
  }
}

.description > p {
  margin-top: 3rem;
}

.contacts {
  margin-top: 4rem;
}

.contact {
  width: fit-content;
  background-color: white;
  padding: 1rem 1.5rem 1rem 2rem;
  margin: 1rem 0;
  position: relative;

  &::before {
    content: "";
    height: 100%;
    width: 4px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: v.$orange-500;
  }
}

.facts {
  background-image: url("/Facts_bg.svg");
  background-position: center;
  background-size: cover;
  z-index: -10;

  &_list {
    margin-top: 4rem;
    list-style: none;
    display: flex;
    padding-left: 0;

    & > li:nth-child(1) {
      margin-right: 6rem;
    }

    @media (max-width: 640px) {
      & {
        flex-direction: column;
        align-items: center;

        & > li:nth-child(1) {
          margin-right: 0;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
.news {
  & header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
}
.department {
  background-image: url("/Department_background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.background_wrapper {
  position: relative;
  overflow-y: hidden;
}
