.main_page_link {
  text-decoration: none;
  color: black;
}

.content {
  white-space: pre-line;

  >*+* {
    padding-top: 1em;
  }

  :global(.news__image) {
    min-width: 100%;
  }

  :global(.carousel) {
    margin-top: 5rem;
  }
}