.main_page_link {
  text-decoration: none;
  color: black;
}

.content {
  white-space: pre-line;

  >*+* {
    padding-top: 1em;
  }

  :global(.news__image) {
    display: block;
    margin: 0 auto;

    width: 50%;

    @media screen and (max-width:425px) {
      width: 100%;
    }
  }

  :global(.carousel) {
    margin-top: 5rem;

    img {
      width: 100%;
    }
  }
}

.table_cell {
  font-size: 2rem !important;

  @media screen and (max-width:425px) {
    font-size: 1.5rem !important;
  }
}