.content_wrapper {
    display: grid;
    padding-top: 2rem;
    grid-template-columns: .3fr 1fr;
    column-gap: 4rem;

    @media screen and (max-width: 768px) {
        grid-template-columns: auto;
        grid-template-rows: .2fr 1fr;
    }
}