@use "./variables.scss" as v;

.h-1 {
  color: v.$orange-500;
  font-size: 4.5rem;

  &.background::before {
    content: attr(data-background);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
    background: linear-gradient(
      90deg,
      rgba(212, 218, 221, 0.7) 0%,
      rgba(232, 235, 237, 0) 87.34%
    );
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    font-size: 15rem;
    white-space: nowrap;
    text-transform: uppercase;
  }
}

.h-2 {
  font-size: 2.5rem;
}

.h-3 {
  font-size: 2rem;
}

.text-1 {
  font-size: 2rem;
  line-height: 135%;
}

.sub {
  font-size: 1.2rem;
}
